/* noto-nastaliq-urdu-regular - arabic_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Nastaliq Urdu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-nastaliq-urdu-v23-arabic_latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-nastaliq-urdu-500 - arabic_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Nastaliq Urdu';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/noto-nastaliq-urdu-v23-arabic_latin_latin-ext-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-nastaliq-urdu-600 - arabic_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Nastaliq Urdu';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/noto-nastaliq-urdu-v23-arabic_latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-nastaliq-urdu-700 - arabic_latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Nastaliq Urdu';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-nastaliq-urdu-v23-arabic_latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
